@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css');
@import url('https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quando", sans-serif;
}

:root{
    --azul-highlight: #A2CFF8;
    --azul-claro: #1091FA;
    --azul-medio: #22669F;
    --azul-escuro: #003366;
    --azul-quase-preto: #000923;
    --branco: #FFFDFA;
    --preto: #000 ;
}

.seta-prox{
    filter: drop-shadow(0 0 0.313rem var(--branco));
}

.seta-antes{
    filter: drop-shadow(0 0 0.313rem var(--branco));
}

html {
    scroll-behavior: smooth;
}
h1{
    font-size: 6rem;
    font-family: "Quando", sans-serif;
}
h2{
    font-size: 3rem;
    font-family: "Quando";
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.25rem;
    font-family: "Poppins", serif;
    font-weight: bold;
}
p{
    font-size: 1rem;
    font-family: "Poppins", serif;
}

.pg-ativada{
    text-decoration: underline;
    color: var(--azul-claro);
}

header{
    border-bottom: 1px solid var(--preto);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    height: 4.938rem;
    display: flex;
    align-items: center;
    padding-left: 2.375rem;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between; /* separa menu esquerdo e direito */
        align-items: center;
        padding-right: 2rem;nav{
        display: flex;
        align-items: center;
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        i{
            font-size: 1.5rem;
        }
    }
    }

}

nav > div:first-child {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

nav a {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.25rem;
    font-family: "Poppins", serif;
    font-weight: bold;
    padding: 0;
}

nav a:hover {
    transition-duration: 0.3s;
    color: var(--azul-claro);
    text-decoration: underline;
}


nav .logado {
    position: absolute;
    right: 0;
    display: flex;
    gap: 2.125rem;
    align-items: center;
    margin-right: 1.938rem;
        a:hover{
            transition-duration: 0.3s;
            color: var(--azul-claro);
            text-decoration: underline;
        }
}

nav .logado .usuario {
    border-right: 2px solid white;
    padding-right: 1.688rem;
    display: flex;
    align-items: center;
}

nav .logado .usuario img {
    margin-right: 0.938rem;
}


footer{
    border-top: var(--branco) 0.125rem solid;
    display: flex;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    height: 13.813rem;
    color: var(--branco);
    background: #000026;
    p{
        max-width: 46.125rem;
        text-align: center;
    }
    img{
        margin: 0.563rem 0 0.563rem;
        width: 4.875rem;
        height: 4.688rem;
    }
    .copyright{
        margin-top: 0.813rem;
        padding-top: 0.813rem;
        border-top: var(--azul-claro) 0.125rem solid;
        display: flex;
        gap: 42.25rem;
        div{
            display: flex;
            gap: 1.188rem;
            button{
                text-align: center;
                border-radius: 100%;
                width: 2.311rem;
                height: 2.438rem;
                border: none;
                background: var(--azul-claro);
                a{
                    color: var(--branco);
                    text-decoration: none;
                }
                i{
                    font-size: 1.5rem;
                }
            }
        }
    }
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 3.688rem;
    background: #194F7B;
    border-radius: 20px;
    width: 32.875rem;
    height: 19rem;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 3.688rem;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .fechar {
    position: absolute;
    top: 20px;
    left: 30px;
    transition: all 100ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 3.375rem;
}
.popup .fechar:hover {
    color: var(--azul-claro);
}
.popup .conteudo {
    display: flex;
    align-items: center;
    gap: 1.063rem;
    margin-block: 4.5rem 4.875rem;
}

.conteudo a{
    background: linear-gradient(90deg, #082E9C 31.25%, #091169 81.25%);
    box-shadow: 4px 7px 15.3px #001450;
    border-radius: 20px;
    border: none;
    height: 2.653rem ;
    width: 13.606rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.conteudo a:hover{
    background: var(--azul-claro);
    transition: 0.3s;
}

.botao-abrir {
    padding: 10px 15px;
    background-color: #06D85F;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}