@import "/css/global.css";

    .background{
      background: url("/assets/ongs/bg-ongs.svg")  no-repeat;
      background-size: cover;
    }
  
    h1 {
      margin-top: 120px;
      text-align: center;
      font-size: 2.8rem;
      color: #fff;
    }
    
    h4 {
      text-align: center;
      color: #fff;
    }
    
    .borda{
      background-color: rgba(0, 9, 35, 0.5);
      border: #fff 0.125rem solid;
      border-radius: 1.25rem;
      padding: 45px;
      margin: 20px auto;
      width: 1083px;
    }
    
    .Oceana,
    .Euapoio,
    .Greenpeace,
    .WWF {
      background: linear-gradient(180deg, #A2CFF8); /* degrade azul escuro */
      border: 1px solid #cce6ff; /* borda clara */
      border-radius: 20px;
      padding: 45px;
      margin: 20px auto;
      width: 80%;
      max-width: 1000px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: 0.3s;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* sombra leve */
    }
    
    .Oceana:hover,
    .Euapoio:hover,
    .Greenpeace:hover,
    .WWF:hover {
      transform: scale(1.02);
    }
    
    .Oceana img,
    .Euapoio img,
    .Greenpeace img,
    .WWF img {
      max-width: 250px; /* aumenta o tamanho do logo */
      height: auto;
      margin-right: 20px;
    }
    
    .Oceana p,
    .Euapoio p,
    .Greenpeace p,
    .WWF p {
      flex: 1;
      margin: 0 20px;
      font-size: 1rem;
      font-weight: 400;
      color: #dbe6f2; /* texto mais claro */
    }

    /* Botões com degradê */button.degrade { 
     background: linear-gradient(to right, #000428, #004e92); 
      color: white;  border: none;  padding: 12px 45px; 
       border-radius: 10px;  cursor: pointer; 
        font-size: 1rem;  transition: 0.3s;
    }

    button.degrade:hover {
      background: linear-gradient(to right, #004e92, #000428);
}

    button.degrade a { 
     color: #A2CFF8; 
      text-decoration: none;
}
    
    
    .degrade {
      background: linear-gradient(90deg, #00183d, #0aaeff);
      border: none;
      padding: 14px 28px;
      border-radius: 18px;
      color: #fff;
      font-size: 1rem;
      font-weight: 600;
      text-decoration: none;
      display: inline-block;
      transition: 0.3s;
    }
    
    .degrade:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px #0aaeff;
    }