@import "/css/global.css";
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

body{
    text-align: center;
    background: url("/assets/bg-rank.svg") no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: white;
}

.racing{
    font-family: "Racing Sans One";
}
main{
    margin-inline: 9.188rem;
}

#h3{
    margin-top: 6.313rem;
    color: var(--azul-claro);
}

.voltar{
    display: flex;
    margin-top: 1.063rem;
    margin-bottom: 4.563rem;
    i{
        font-size: 2.5rem;
    }
    a{
        display: flex;
        text-decoration: none;
        color: white;
        display: inline-block;
        div{
            display: flex;
            align-items: center;
        }
    }
    a:hover{
        transition-duration: 0.3s;
        color: var(--azul-claro);
    }
}

.podio{
    display: flex;
    margin-bottom: 2.063rem;
    gap: 7.625rem;
    justify-content: center;
    section{
        border: 2px solid white;
        border-radius: 15px;
        width: 19rem;
        height: 21rem;
        position: relative;
        overflow: hidden;
        div{
            display: flex;
            img{
                margin: 0 3.875rem 0 0;
                height: 7.563rem;
            }
        }
        p{
            margin: 0.625rem 0 1.938rem 0;
        }
    }
}

#first{
    margin-top: -2.875rem;
}

.cima-first{
    padding: 2.5rem 1.375rem 0;
    border-radius: 15px 15px 0 0;
    height: 7.563rem;
    background: linear-gradient(80.91deg, #B5DDFD 0%, #64B0ED 37.5%, #4ADEFF 74.52%, #008DFF 100%);
}

.cima-second{
    padding: 2.5rem 1.375rem 0;
    border-radius: 15px 15px 0 0;
    height: 7.563rem;
    background: linear-gradient(80.91deg, #A9D5F5 0%, #9DA3B7 40.38%, #CEE6EB 71.15%, #8A9FBE 98.56%);
}

.cima-third{
    padding: 2.5rem 1.375rem 0;
    border-radius: 15px 15px 0 0;
    height: 7.563rem;
    background: linear-gradient(80.91deg, #FFF4E0 0%, #FBB93C 37.5%, #FFD665 74.52%, #DB7500 100%);
}

.nome{
    margin-top: 4.063rem;
    display: flex;
    flex-direction: column;
}

.baixo{
    display: flex;
    flex-direction: column;
    height: 20.625rem;
    background: linear-gradient(180deg, #0C7BBE 0%, #006997 100%);
}

.resul{
    height: 3.5rem;
    display: flex;
    justify-content: center;
    border-top: 2px solid #8BBCE5;
}

.resul > div{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.4rem;
}

.resul > div:first-child{
    border-right: 2px solid #8BBCE5;
}

.resul i{
    font-size: 2rem;
}

.top8{
    margin-bottom: 2.063rem;
    section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(0, 133, 255, 0.35);
        backdrop-filter: blur(2px);
        border-radius: 15px;
        height: 3.688rem;
        padding-inline: 1.938rem;
    }
    .top4-8-light{
        margin-bottom: 2rem;
        background: rgba(151, 208, 255, 0.51);
        backdrop-filter: blur(2px);
    }
}


.top4-8{
    margin-bottom: 2rem;
}

.desc{
    display: flex;
    gap: 4.438rem;
    justify-content: right;
    color: #CDE7FF;
    margin-bottom: 0.375rem;
    margin-right: 1.563rem;
}

.ident{
    display: flex;
    align-items: center;
    gap: 0.625rem;
    h2{
        width: 1.938rem;
    }
    img{
        margin-left: 1.875rem;
        height: 3.25rem;
    }
}

.resul-top8{
    display: flex;
    gap: 4.438rem;
    i{
        font-size: 2.857rem;
    }
}

.uno{
    display: flex;
    justify-content: center;
    width: 12.063rem;
    align-items: center;
}

.dos{
    justify-content: center;
    display: flex;
    width: 5rem;
    align-items: center;
    h4{
        width: 2.188rem;
    }
}