@import "/css/global.css";

body{
    background: url("/assets/cont-imagens/oceano-img/bg-oceano.svg") no-repeat;
    background-size: cover;
    color: var(--branco);
    text-align: center;
    height: 100vh;
    

    h2{
        margin-top: 0.938rem;
        text-shadow: 5px 5px 10.9px var(--azul-claro);
    }
}





  main h2, .titulo-conteudos {
    margin: 2rem 0;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 8px #0a3365;
    text-shadow: 0.313rem 0.313rem 0.681rem var(--azul-claro);
  }
  
 
  .cards {
    bottom: 15%; /* Posiciona na parte inferior da abertura da caverna */
    transform: translateX(50%);
    width: 60%;
    margin-left: -20rem;
    gap: 1rem;
    left: 0;
    max-width: 1200px;
    z-index: 10;
    border-radius: 1rem;
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.322);
  }
  
  .cards .siema {
    display: flex;
    gap: 1rem;
  }
  
  
  .cards img {

    position: relative;
    display: block;
    margin: 0 auto; 
    width: 260px;
    border-radius: 6px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.6);
    transition: transform 0.3s;
  }
  
  .cards img:hover {
    transform: scale(1.05);
  }
  

.prev, .next { 
  border: none;
  background: var(--azul-highlight);
  box-shadow: 2px 0px 24.7px -1px #1091FA;
  color: var(--branco);
  text-align: center;
  font-size: 1.75rem;
  width: 3.313rem;
  height: 2.875rem;
  margin-bottom: 1.5rem;
}
  
  .prev:hover, .next:hover {
    background: #01345e;
    transition: .3s;
    cursor: pointer;
  }
  
  
  .desc {
    border-left: 2px #0A3365 solid;
    max-width: 350px;
    text-align: left;
    width: 50%; 
    padding-left: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-bottom: 49px;
    div{
      display: flex;
      gap: 1rem;
    }
  }
  
  .desc h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .desc p {
    color: rgb(255, 255, 255);
    margin: 0.5rem 0 1rem;
    font-size: 0.95rem;
    line-height: 1.5rem;
  }
  
  .desc a {
    font-size: 1.25rem;
    font-family: "Poppins", serif;
    font-weight: bold;
    color: white;
  }
  
  .desc a:hover {
    text-decoration: underline;
    color: var(--azul-claro);
    text-shadow: 0.313rem 0.313rem 0.681rem var(--azul-highlight);
  }
  

footer {  
  text-align: center;
  bottom: 0;
  width: 100%;
}

.tudinho {
  margin-top: 300px;
  display: flex;
  align-items: center;
  gap: 50px;
  padding-bottom: 50px;
}