@import "/css/global.css";
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background: url(./assets/log-cad-bg.svg) no-repeat;
    background-size: cover;
    min-height: 100vh;
}

section{
    border: 2px solid #FFFFFF;
    width: 680px;
    min-height: 600px;
    background: rgba(1, 4, 39, 0.37);
    backdrop-filter: blur(71.8px);
    border-radius: 20px;
    margin-inline: auto;
    margin-block: 8.313rem;
    text-align: center;
    color: white;
    padding-block: 2.5rem;
    h3{
        margin-block: 2.5rem 0.438rem;
    }
    form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 4.188rem;
        gap: 3.438rem;
        div{
            width: 35rem;
            display: flex;
            i{
                font-size: 1.767rem;
            }
        }
        .inputs{
            border-bottom: 1px solid #FFFFFF;
            input{
                margin-left: .5rem;
                width: 28.625rem;
                color: #FFFFFF;
                background: none;
                border: none;
            }
            #confirm_password{
                width: 21rem;
            }
        }
        button{
            width: 329px;
            height: 56.65px;
            background: linear-gradient(90deg, #082E9C 31.25%, #091169 81.25%);
            box-shadow: 4px 7px 15.3px #001450;
            border-radius: 20px;
            border: none;
            color: white;/* Entrar */
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 4.813rem;
        }
        button:hover{
            cursor: pointer;
            transition: .2s ease-in-out;
            background: var(--azul-claro);
            box-shadow: none;
            transform: scale(1.03);
            box-shadow: 0 0 0.625rem var(--azul-claro), 0 0 1.25rem #fff;
        }
        a{
            color: white;
            font-family: "Poppins";
            margin-left: auto;
            margin-right: 3.75rem;
        }
        p{
            margin-bottom: 2.375rem;
        }
    }
}

a{
    color: white;
    font-family: "Poppins";
    text-decoration: none;
    font-weight: bold;
}